<!-- Service section start -->
<div class="section primary-section" id="service">
  <div class="container">
    <!-- Start title section -->
    <div class="title">
      <h1>Vítejte na stránkách volejbalového klubu TJ Sokol Benešov u Prahy</h1>
      <!-- Section's title goes here -->
      <p>Najdete zde kompletní informace o našem týmu, zápasech, tréninku a další.</p>
      <!--Simple description for section goes here. -->
    </div>
    <div class="row-fluid">
      <div class="span4">
        <div class="centered service">
          <div class="circle-border zoom-in">
            <img class="img-circle" src="/assets/img/ico/cup.png" alt="Soutěž">
          </div>
          <h3>Soutěž</h3>
          <p>V sezóně 2016/2017 hrajeme soutěž ST-M1.</p>
        </div>
      </div>
      <div class="span4">
        <div class="centered service">
          <div class="circle-border zoom-in">
            <img class="img-circle" src="/assets/img/ico/spider.png" alt="Kde hrajeme" />
          </div>
          <h3>Kde hrajeme</h3>
          <p>Sportovní hala ZŠ Jiráskova, Jiráskova 888, Benešov</p>
        </div>
      </div>
      <div class="span4">
        <div class="centered service">
          <div class="circle-border zoom-in">
            <img class="img-circle" src="/assets/img/ico/ball.png" alt="Tréninky">
          </div>
          <h3>Tréninky</h3>
          <p>Každé pondělí od 19:00-21:00 a středu od 20:00-22:00</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service section end -->

<div class="section secondary-section">
  <div class="triangle"></div>
  <div class="container centered">
    <p class="large-text">Můžeš mít buď výsledky nebo výmluvy. Nemůžeš mít obojí.</p>
    <small>Arnold Schwarzenegger</small>
    <a href="#" class="button">Na úvod</a>
  </div>
</div>

<!-- About us section start -->
<div class="section primary-section" id="players">
  <div class="triangle"></div>
  <div class="container">
    <div class="title">
      <h1>Naši hráči</h1>
      <p>Představujeme Vám naše aktivní hráče, kteří jsou pro sezónu 2016/2017 na soupisce.</p>
    </div>
    <div class="row-fluid team">
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/bartusekjan.png" alt="Bartůšek Jan">
          <h3>Bartůšek Jan</h3>
          <h5>Smečař</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/jan.bartusek.1" target="_blank">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Smečař</h2>
            <p>Ročník 1993</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/bartusekj.png" alt="Bartůšek Josef">
          <h3>Bartůšek Josef</h3>
          <h5>Smečař, univerzál</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/pepa.bartusek.5" target="_blank">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Smečař, univerzál</h2>
            <p>Ročník 1987</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/bohac.png" alt="Boháč Martin">
          <h3>Boháč Martin</h3>
          <h5>Smečař</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/profile.php?id=1177376910">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Smečař</h2>
            <p>Ročník 1981</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid team">
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/no-person.png" alt="Brandl Tomáš">
          <h3>Brandl Tomáš</h3>
          <h5>Smečař, Blokař</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/tomas.brandl.3">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Smečař, Blokař</h2>
            <p>Ročník 1982</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/no-person.png" alt="Čepl Marek">
          <h3>Čepl Marek</h3>
          <h5>Libero</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/marek.cepl.1">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Libero</h2>
            <p>Ročník 1990</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/hlavnicka.png" alt="Hlavnička Jiří">
          <h3>Hlavnička Jiří</h3>
          <h5>Nahrávač</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/jiri.hlavnicka.9">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Nahrávač</h2>
            <p>Ročník 1982</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid team">
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/koci.png" alt="Kočí Petr">
          <h3>Kočí Petr</h3>
          <h5>Blokař, trenér</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/petr.koci.75">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Blokař</h2>
            <p>Ročník 1981</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/kunc.png" alt="Kunc Martin">
          <h3>Kunc Martin</h3>
          <h5>Univerzál, blokař, libero</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/kivik">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Univerzál, blokař, libero</h2>
            <p>Ročník 1981</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/kyselka.png" alt="Kyselka Jan">
          <h3>Kyselka Jan</h3>
          <h5>Blokař</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/jan.kyselka.39">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Blokař</h2>
            <p>Ročník 1985</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid team">
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/lang.png" alt="Lang Michal">
          <h3>Lang Michal</h3>
          <h5>Smečař, libero, univerzál</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/michal.lang.18">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Smečař, libero, univerzál</h2>
            <p>Ročník 1984</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/rehak.png" alt="Řehák Petr">
          <h3>Řehák Petr</h3>
          <h5>Smečař</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100007576965329">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Smečař</h2>
            <p>Ročník 1974</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/votruba.png" alt="Votruba Viktor">
          <h3>Votruba Viktor</h3>
          <h5>Blokař, asistent trenéra</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/viktor.votruba.5">
                <span class="icon-facebook-circled"></span>
              </a>
            </li>
          </ul>
          <div class="mask">
            <h2>Blokař, asistent trenéra</h2>
            <p>Ročník 1977.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="title">
      <h1>Funkcionáři</h1>
      <!--<p>Představujeme Vám naše aktivní hráče, kteří jsou pro sezónu 2016/2017 na soupisce.</p>-->
    </div>
    <div class="row-fluid team">
      <div class="span4">
        <div class="thumbnail">
          <img src="/assets/img/players/jiracek.png" alt="Jiráček Viktor">
          <h3>Jiráček Viktor</h3>
          <h5>Čestný vedoucí oddílu</h5>
          <div class="mask">
            <h2>Čestný vedoucí oddílu</h2>
            <p>Ročník 1932</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section secondary-section">
  <div class="triangle"></div>
  <div class="container centered">
    <p class="large-text">Tajemství úspěchu člověka spočívá ve zvyku dělat to, co neúspěšní lidé dělají neradi.</p>
    <small>Jackson King</small>
    <a href="#" class="button">Na úvod</a>
  </div>
</div>

<div id="about">
  <div class="section primary-section">
    <div class="triangle"></div>
    <div class="container">
      <div class="title">
        <h1>O nás</h1>
        <p>Jsme ambiciózní tým lidí, které volejbal skutečně baví a chtějí podávat ty nejlepší výkony, ale také dobrá parta, která ráda zajde na pivo. Pokud máš chuť se k nám přidat tak neváhej a přijď se podívat na trénink.</p>
      </div>
    </div>
  </div>
</div>
<!-- About us section end -->
<div class="section secondary-section">
  <div class="triangle"></div>
  <div class="container centered">
    <p class="large-text">Překážky jsou ony obávané věci, které spatříte, když odvrátíte pohled od svého cíle.</p>
    <small>Henry Ford</small>
    <a href="#" class="button">Na úvod</a>
  </div>
</div>
<!-- Client section start -->
<div id="news">
  <div class="section primary-section">
    <div class="triangle"></div>
    <div class="container">
      <div class="title">
        <h1>Aktuality</h1>
        <p>Články o našem volejbale můžete také najít na stránkách <a href="http://benesovsky.denik.cz/">Benešovského deníku</a> v rubrice
          <a href="http://benesovsky.denik.cz/ostatni_region/">sport</a>.
        </p>
      </div>
      <div class="row">
        <div class="span4">
          <div class="testimonial">
            <div class="whopic">
              <small>14.01.2017</small>
              <strong>Volejbalisté Benešova potvrdili roli favorita</strong>
            </div>
            <p>Volejbalisté Benešova potvrdili v krajském přeboru roli favorita, když získali v domácím prostředí plný počet bodů ve dvojzápase s posledním Kolínem, kterým začala druhá polovina sezony. Borci od Konopiště zůstávají po výhrách na druhém místě.</p>
            <p *ngIf="news[0]">
              TJ SOKOL BENEŠOV – SK VOLEJBAL KOLÍN 3:1 (15, 17, -25, 16), 3:0 (9, 13, 18)

              Obě utkání byla jednoznačnou záležitostí domácího týmu, a to i přes zaváhání ve třetím setu prvního zápasu. Po vánoční přestávce se na začátku utkání domácí prezentovali četnými nepřesnostmi a nepříliš vyrovnaným výkonem, který se ale s postupem času zlepšoval.

              TJ Sokol Benešov: Jo. Bartůšek, J. Bartůšek, P. Kočí, J. Hlavnička, M. Boháč, M. Lang, J. Kyselka, P. Řehák, V. Votruba.

              Další domácí utkání, šlágr kola, sehraje TJ Sokol Benešov až 11. února od 11 hodin ve sportovní hale ZŠ Jiráskova proti vedoucímu týmu tabulky VK Tuchlovice A.
            </p>
            <p><a href="javascript:void(0);" (click)="showNewsAllItem(0)" *ngIf="!news[0]">celá zpráva...</a></p>
          </div>
        </div>
        <div class="span4">
          <div class="testimonial">
            <div class="whopic">
              <small>10.12.2016</small>
              <!--<img src="/assets/img/volejbal-benesov-foto-1_denik-630.jpg" class="centered" alt="client 1">-->
              <strong>Volejbalisté Benešova brali s Dobřichovicemi tři body</strong>
            </div>
            <!--<div class="arrow"></div>-->
            <p>Benešov – Volejbalisté Benešova se ve dvojutkání devátého kola krajského přeboru s Dobřichovicemi dočkali doma tří bodů za výhru ve druhém zápase a v tabulce poskočili na druhé místo.Benešov – Dobřichovice 0:3 (17, 21, 27), 3:1 (23, -24, 17, 17)

            </p>
            <p *ngIf="news[1]">V prvním utkání podali domácí nevýrazný výkon, a i přes těsný výsledek ve třetím setu, nakonec hladce prohráli. Ve druhém zápase se benešovští volejbalisté zlepšili a povolili hostům zisk pouze jednoho setu.

              Benešov: Jo. Bartůšek, P. Kočí, J. Hlavnička, M. Boháč, M. Lang, J. Kyselka, P. Řehák, V. Votruba, M. Čepl.

              Další domácí utkání sehraje TJ Sokol Benešov až 14. ledna 2017 od 11 hodin ve sportovní hale ZŠ Jiráskova proti SK Volejbal Kolín A.
            </p>
            <p><a href="javascript:void(0);" (click)="showNewsAllItem(1)" *ngIf="!news[1]">celá zpráva...</a></p>
          </div>
        </div>
        <div class="span4">
          <div class="testimonial">
            <div class="whopic">
              <small>3.12.2016</small>
              <!--<img src="/assets/img/volejbal-benesov-foto-1_denik-630.jpg" class="centered" alt="client 1">-->
              <strong>Volejbalisté Benešova postrádali více štěstí</strong>
            </div>
            <!--<div class="arrow"></div>-->
            <p>Roztoky u Prahy – Po hladkém vítězství s Rakovníkem získali benešovští volejbalisté v 8. kole pouze bod s Roztoky v krajském přeboru, když i přes dobrý výkon, podlehli soupeři 1:3, 2:3. Roztoky – Benešov 3:1 (-18, 18, 18, 24), 3:2 (-13, 14, 25, -17, 12)

            </p>
            <p *ngIf="news[2]">Po jednoznačném průběhu prvního setu v prvním zápase pro hosty, byly další dva sety záležitostí domácích. Ve čtvrtém dějství se v dramatické koncovce přiklonilo štěstí na stranu Roztok.

              Druhý zápas byl mnohem vyrovnanější a ve zkrácené páté sadě byli opět šťastnější domácí.

              Benešov: Jo. Bartůšek, Kočí, Hlavnička, Boháč, Lang, Řehák, Votruba, J. Bartůšek.

              Aktuálně třetí Benešov hraje další utkání v sobotu 10. prosince od 11 hodin ve sportovní hale ZŠ Jiráskova v Benešově proti Dobřichovicím.
            </p>
            <p><a href="javascript:void(0);" (click)="showNewsAllItem(2)" *ngIf="!news[2]">celá zpráva...</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <div class="testimonial">
            <div class="whopic">
              <small>22.11.2016</small>
              <strong>Benešov si smlsnul na Rakovníku</strong>
            </div>
            <p>Benešov – Po vítězství v okresním derby ve Vlašimi si volejbalisté Sokola Benešov připsali v domácím dvojutkání 7. kola krajského přeboru i s Rakovníkem plný bodový zisk, aniž by ztratili set.</p>
            <p *ngIf="news[3]">
              TJ Sokol Benešov – VK Rakovník 3:0 (22, 16, 13), 3:0 (16, 19, 11)

              Úvodní set prvního zápasu měl vyrovnanější průběh. Postupem času se zápas stal jednoznačnou záležitostí domácího týmu, když soupeř v žádném ze setů nedosáhl více jak 20 bodů.

              TJ Sokol Benešov: Josef Bartůšek, P. Kočí, J. Hlavnička, M. Boháč, M. Lang, J. Kyselka, P. Řehák, V. Votruba, M. Čepl.

              Benešov je na druhém místě Krajského přeboru, a proto před polovinou soutěže může stále směle pomýšlet na postup do druhé národní ligy.

              Další domácí utkání sehraje TJ Sokol Benešov v sobotu 10. prosince od 11 hodin ve sportovní hale ZŠ Jiráskova v Benešově proti TJ Sokol Dobřichovice.
            </p>
            <p><a href="javascript:void(0);" (click)="showNewsAllItem(3)" *ngIf="!news[3]">celá zpráva...</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section secondary-section">
  <div class="triangle"></div>
  <div class="container centered">
    <p class="large-text">Věřím ve štěstí. Čím víc se snažím, tím víc ho mám.</p>
    <small>Stephen Leacock</small>
    <a href="#" class="button">Na úvod</a>
  </div>
</div>

<div id="contact">
  <div class="section primary-section">
    <div class="triangle"></div>
    <div class="container">
      <div class="title">
        <h1>Kontakt</h1>
      </div>
      <div class="span9 center contact">
        <p class="title2">TJ Sokol Benešov u Prahy</p>
        <p>Sportovní hala ZŠ Jiráskova</p>
        <p>Jiráskova 888, Benešov 25601</p>
        <p class="info-mail"><a href="mailto:bene.volej@seznam.cz">bene.volej@seznam.cz</a></p>
        <p>+420 775 358 293</p>
        <a target="_blank" href="https://www.facebook.com/VK-Sokol-Bene%C5%A1ov-165352263481472/?fref=ts">
          <span class="icon-facebook-circled"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="partners" class="contact">
  <div class="section secondary-section">
    <div class="container">
      <div class="title">
        <h1>Partneři</h1>
      </div>
      <div class="centered partners-container">
        <a href="http://www.fitboss.cz"><img src="/assets/img/partners/fitboss2.png" alt="Fit Boss cz s.r.o." title="Fit Boss cz s.r.o."></a>
        &nbsp;
        |
        &nbsp;
        <a href="http://www.equabank.cz"><img src="/assets/img/partners/equabank3.png" alt="Equa bank" title="Equa bank"></a>
        &nbsp;
        |
        &nbsp;
        <a href="http://www.benesov-city.cz/"><img src="/assets/img/partners/logo_benesov_city.png" alt="Město Benešov" title="Město Benešov"></a>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="section secondary-section">
    <div class="container centered">
      <a class="button" href="#">Na úvod</a>
    </div>
  </div>
</div>
